body{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   

}

html, body {
    overflow-x: hidden;
    background-color: black;
}

@media(max-width: 375px){
    #nav-tabs{
        font-size: 90%;
    }
}

#super-mario {
    width: 60px;  /* Set desired width */
    height: 100px; /* Set desired height */
    margin-top: 30px;
}

/* Nav items customized */
#about-me{
    font-size: 125%;
    color: white;
    font-weight: bold;
}

#skills{
    font-size: 125%;
    color: white;
    font-weight: bold;
}

#projects{
    font-size: 125%;
    color: white;
    font-weight: bold;
}

#contact-me{
    font-size: 125%;
    color: white;
    font-weight: bold;
    

}
@media (max-width: 300px) {
    #hi-section{
        padding: 300px 30px;
        background-size: cover !important;
        background-position: center !important;
    }
}



@media (max-width: 760px) {
    #contact-section{
       padding-left: 50px;
    }
}

#navbar {
    /* background-image: */
    background-color: transparent;
   
 
}


#navbar-brand{
    font-size: 150%;
}
@media (max-width: 768px) {
    #navbar-brand{
        font-size:1.3rem;
       
    }
}

.bi.bi-facebook{
    color: white;
}
.bi.bi-twitter{
   color: white;
}
.bi.bi-instagram{
    color: white;
}
.bi.bi-github{
    color: white;
}
.bi.bi-linkedin{
    color:	white;
}




/* Custom media query for the specific screen size */
@media (max-width: 300px) {
    .navbar-nav {
        flex-direction: row !important;
        flex-wrap: nowrap !important;
    }
    .navbar-nav .nav-item {
        margin-right: 10px; /* Adjust the margin as needed */
    }
}
@media (max-width: 1662px) {
    .nav-item.stacked {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* Hi section */

#hi-section{
    padding: 270px 30px;
    background-color: black;
    
}

#hi-section{
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  
}

.hi-title{
    font-size:2em;
    text-align: center;
    margin-left: 50px;
    font-size: 3rem;
    
}
.full-stack-title{
    font-size:2em;
    text-align: center;
    margin-left: 50px;
    font-size: 1.5rem;
}

.container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin-left:40px;

}

#contact-btn{
    border-color: white;
    color: grey; /* Default text color */
    background-color: black; /* Example background color */
     /* Optional: Remove border */
}

#contact-btn:hover {
    color: white !important; /* Ensures text stays white */
    background-color: #333; /* Slightly lighter black on hover */
}


@media (max-width: 768px) {
    #contact-btn{
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    #hi-section{
        padding: 300px 30px;
    }

    .hi-title{
        margin-right: 30px;
        font-size: 2.5rem;
    }
    .full-stack-title{
        margin-right: 30px;
        font-size: 1.2rem;
        
    }

}

/* About me Section */

#about-me-section{
    background: linear-gradient(to right, #000000, #1c1c1c);

    
}
#About-text{
    font-size: small;
}

.card{
    border-radius: 10px;
}

#arian{
    border-radius:100rem;
    height: 15rem;

}

/* My Stacks */

#stack-div{
    padding-left: 10em;
}
@media (max-width: 768px) {
    #stack-div{
        justify-content: center; /* EDIT THIS SO MY STACK TEXT ISN FUCKED */
    }
}

#stack-img{
    width: 50px;
}

#bootstrap-img{
    width: 50px;
}

#icon-div{
    padding-left: 13em;
   
}

/* Project Stack */

#project-section{
background: linear-gradient(180deg, #0f0f0f, #1e1e1e, #292929);

}


/* Copyright */

#copyright{
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#email{
    font-size: large;
}